# Model
transformers>=4.36.0
torch>=2.0.0
accelerate>=0.24.0         # It will really helps with large model loading like the GPT-J
bitsandbytes>=0.42.0       # It's not mandatory but optional recommended for GPU memory optimization

# Embedding and Vector Search
sentence-transformers>=2.2.2
chromadb>=0.4.13

# PDF Parsing
pdfplumber>=0.10.2

# UI
streamlit>=1.30.0
streamlit-pdf-viewer>=0.1.1

# Other Libraries
numpy>=1.24.0
pandas>=1.5.3
scikit-learn>=1.2.0
matplotlib>=3.6.0
seaborn>=0.12.2
tqdm>=4.66.1
python-dotenv>=1.0.0
